@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

:root {
    --destaque: #6156F0;
    --letra: #e0e0e0;
    --fundo: #0A111C;
    --fundo-card: #121A28;
    --menu: #050a14;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Nunito", sans-serif;
    background-color: var(--fundo);
}

a {
    color: white;
}

.titulo {
    font-family: "Outfit", sans-serif;
}

.destaque {
    color: var(--destaque);
}

.texto {
    color: var(--letra);
}

.botao, .botao-inverso {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    padding: 12px 18px;
    text-decoration: none;
}

.botao {
    background-color: var(--destaque);
    transition: transform .3s ease,
                opacity .3s ease;
}

.botao:hover {
    transform: scale(1.02);
    opacity: .9;
}

.botao-inverso {
    color: var(--destaque);
    border: solid 2px var(--destaque);

    transition: transform .3s ease,
                background .3s ease;
}

.botao-inverso i {
    color: var(--destaque);
}

.botao-inverso:hover {
    transform: scale(1.02);
    background-color: var(--menu);
    
    
}

.logo img {
    width: 80px;
}

.menu {
    width: 100%;
    background-color: var(--menu);
    padding: 0px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social > a {
    font-size: 1.3em;
    transition: transform .3s ease,
                color .3s ease;
    z-index: 3;
}

.social > a:hover {
    transform: scale(1.1);
    color: var(--destaque);
}

#menu-burg {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5em;

    transition: transform .3s ease,
                color .3s ease;
}

#menu-burg:hover {
    transform: scale(1.1);
    color: var(--destaque);
    cursor: pointer;
}

.menu-pc { /* Opções */
    background-color: var(--menu);
    color: white;
    height: 100%;
    padding: 100px 40px;
    z-index: 2;

    display: flex;
    flex-direction: column;

    transform:translateX(100%);
    position: fixed;
    right: 0;
    top: 0;

    transition: transform .3s ease;
}

.menu-pc.ativo {
    transform:translateX(0);
}

#exit-menu-burg {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5em;

    margin: 30px;

    position: absolute;
    top: 0;
    right: 0;

    transition: transform .3s ease;
}

#exit-menu-burg:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.menu-pc .opcoes {
    list-style: none;
}

.menu-pc a {
    font-size: 1.5em;
    text-decoration: none;

    display: flex;
    color: white;

    padding: 10px;

    transition: color .3s ease;
}

.menu-pc a:hover {
    color: var(--destaque);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.banner {
    background-image: linear-gradient(to right, var(--fundo), transparent), url(imagens/banner-projeto.png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;


    display: flex;

    margin: 0px 20px;
    padding: 40px 20px;
}

.banner .caixa-texto {
    max-width: 400px;
    font-size: 1em;
    font-weight: bolder;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner .titulo {
    font-size: 2.5em;
}

.botoes {
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.banner .botoes a {
    gap: 10px;
}

.banner .perfil {
    font-size: 1.7em;
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    
    gap: 20px;
    transition: opacity .3s ease;
}

main h1 {
    font-size: 1.2em;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 10px;
}

main h1 > i {
    color: var(--destaque);
    font-size: .8em;
}

.card-section {
    background-color: var(--fundo-card);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 40px;
    margin: 40px 20px;

    display: flex;
    flex-direction: column;
}

.sobre {
    border-radius: 0px 0px 20px 20px;
    margin: 0px 20px;
}

.sobre .caixa-texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sobre .botao-inverso {
    width: max-content;
    margin-top: 40px;
    font-size: 1.2em;
    padding: 12px 18px;
}

.habilidades {
    background-color: var(--menu);
    border-radius: 20px;

    padding-bottom: 20px;
    margin: 40px 20px;
}

.habilidades h1 {
    padding: 20px;
}

.habilidades .container {
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.habilidades .card {
    width: 70px;
    height: 80px;
    font-size: .6em;
    border: solid 1px var(--letra);
    border-radius: 5px;

    padding: 5px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    gap: 10px;
}

.habilidades .card img {
    width: 30px;
}

.github {
    background-color: white;
    border-radius: 50%;
}

.projetos {
    background-color: var(--fundo-card);
    padding: 20px;
    margin: 40px 20px;
    border-radius: 20px;
}

.pj-ha, .pj-ca {
    display: none;
}

.projetos img {
    transition: opacity .3s ease,
                transform .3s ease;
}

.projetos img:hover {
    opacity: .8;
    transform: scale(1.02);
}

.projetos h2 {
    padding-bottom: 20px;
}

.projetos .caixa-texto {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projetos img {
    padding-bottom: 40px;
    width: 400px;
    max-width: 100%;
}

.projetos h3 {
    font-size: 1.3em;
}

.cod {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cod .html,
.cod .css,
.cod .js {
    padding: 5px 8px;
    border-radius: 5px;
}

.cod .html {
    border: solid 1px #f1622e;
    color: #f1622e;
}

.cod .css {
    border: solid 1px #5ddfff;
    color: #5ddfff;
}

.cod .js {
    border: solid 1px #ffff6d;
    color: #ffff6d;
}

.projetos .botao-inverso {
    width: max-content;
    padding: 10px 50px;
}

.contato {
    background-color: var(--fundo-card);
    padding: 40px;
}

.contato .caixa-texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato .container {
    display: flex;
    flex-direction: column;
}

.contato .card {
    margin: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.whats, .email {
    font-size: 1.5em;  
    background-color: var(--fundo);
    color: var(--destaque);
    border-radius: 5px;
    padding: 10px;
}

.whats {
    color: #00a100;
}

footer {
    background-color: var(--menu);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
